{
    "type": "service_account",
    "project_id": "testing-project-1",
    "private_key_id": "randomid",
    "private_key": "-----BEGIN PRIVATE KEY-----\nbase64randomid\n-----END PRIVATE KEY-----\n",
    "client_email": "drive-1@testing-project-1.iam.gserviceaccount.com",
    "client_id": "102*******766",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/drive-1%40testing-project-1.iam.gserviceaccount.com",
    "universe_domain": "googleapis.com"
}